name: Check Whether Compilable or Not

on:
  workflow_dispatch:
  push:
    branches: [test]
    paths:
      - '.github/workflows/Compilation_check.yml'
      - 'src/*' 
      - 'include/*'
  pull_request:
    branches: [main]
    paths:
      - 'src/*' 
      - 'include/*'

jobs:

    # Build Check for Linux
    build-linux:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Build Essential Packages
              run: sudo apt-get update && sudo apt-get install -y build-essential make

            - name: Compiling the binary
              run: make
        
            - name: Ensure Executable Works
              run: chmod +x bin/Assembler

    build-windows:
        runs-on: windows-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Use cache MinGW
              id: cache-mingw
              uses: actions/cache@v3
              with:
                path: "C:\\ProgramData\\mingw64\\mingw64"
                key: ${{ runner.os }}-mingw-cache-v2
                restore-keys: |
                  ${{ runner.os }}-mingw-cache-
                    
            - name: Install MinGW (If Not Cached)
              if: steps.cache-mingw.outputs.cache-hit != 'true'
              run: choco install mingw make -y
            
            - name: Add MinGW to PATH
              run: |
                echo "Adding MinGW to PATH"
                echo "C:\\ProgramData\\mingw64\\mingw64\\bin" >> $env:GITHUB_PATH
                
            - name: Simple Compile with g++
              run: make windows


            

    build-macos:
      runs-on: macos-latest
      steps:
        - name: Checkout Code
          uses: actions/checkout@v3
        
        - name: Build using Make
          run: |
            mkdir -p bin
            make macos
      
        - name: Ensure Executable Works
          run: chmod +x bin/Assembler_macos
